<div class='news-container'>
    {% for article in articles %}
    <div class='news-item'>
        <h2><a href='/article/{{ article.id }}'><span>{{ article.title }}</span></a></h2>
        <a href='/article/{{ article.id }}'><img src='/files/{{ article.id }}_preview.jpg' /></a>
        <div class='caption'>
        <p>{{ article.preview | default('Рыба рыба рыба рыба') }}</p>
        </div>
    </div>
    {% endfor %}
</div>